<h1>Create an account</h1>

<form method="POST">
<label for="input-username">Username</label>
<input required type="text" minlength="2" maxlength="16" name="username" placeholder="Your username" id="input-username">
<label for="input-password">Password</label>
<input required type="password" minlength="3" maxlength="16" name="password" id="input-password" placeholder="create a password">
<button>Create</button>

</form>